* {
  font-family: "Nunito", sans-serif;
}
html {
  height: 100%;
}

body {
  height: 100%;
}

footer {
  border-top: 0.2vw solid white;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  background: linear-gradient(to right, rgb(21, 68, 150), rgb(46, 114, 230));
  height: 5vw;
  min-height: 11vw ;
}
.background-transparent{
  margin-top: 1vw;
  width: 6vw;
  background: transparent;
  
}
.smaller{
  width: 6vw;
  margin-top: 2vw;
}
footer>div{
  align-self: center;
  width:35vw;
  margin-left: 35vw;
}
p{
  align-self: center;
}
#button-container{
  display: flex; 
  justify-content: center;
}
footer>div{
  align-self: center;
}

a{
  text-decoration: none;
  color: white;
  padding: 10px 30px 10px 30px;
  
}

form > a{
  border: solid;
  border-width:thin;
  border-color: white;  
  margin-left: 20px;
}
form > a:hover{
  background: rgba(37, 37, 37, 0.2);
}

#app {
  height: 100%;
}

#main {
  height: 100%;
}

template {
  height: 100%;
}

.wrapper {
  display: grid;
  grid-template-rows: repeat(16, 6.25%);
  grid-template-columns: repeat(10, 10%);
  height: 100%;
}

header {
  grid-column-start: 1;
  grid-column-end: 11;
  grid-row-start: 1;
  grid-row-end: 3;
  display: flex;
  justify-content: space-between;
  background: linear-gradient(to right, rgb(46, 114, 230), rgb(21, 68, 150));
  border-bottom: 0.2vw solid white;
  min-height: 10%;
  align-items: center;
}

.logo-container {
  width: 12vh;
}

.logo {
  width: 12vh;
  padding: 30px;
}

aside {
  background: linear-gradient(rgb(46, 114, 230), rgb(21, 68, 150));
  grid-row-start: 3;
  grid-row-end: 16;
  grid-column-start: 1;
  grid-column-end: 3;
  height: 100%;
  border-right: 0.2vw solid white;
  color: white;
  overflow: auto;
}

aside > ul {
  list-style: 0;
  margin: 0;
  padding: 0;
  width: 100%;
}

aside > ul > li {
  padding: 5%;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.createPlaylistForm{
  width: 100%;
}

aside > ul > li:hover {
  background: rgba(37, 37, 37, 0.2);
}

li > form > button{
  width: fit-content;
  align-self: center;
  background:transparent;
  color: white;
  border-width:thin;
  border-color: white;
  padding: 5px 25px 5px 25px;
  margin-top: 5%;
}
li > form > button:hover{
  background: rgba(37, 37, 37, 0.2);
}


.dropdown {
  position: relative;
  color: white;
  padding: 10px 30px 10px 30px;
  align-self: center;
  border:0;
  background: transparent;
  margin-right: 45px;
  outline:none;
}
.dropdown:hover{
  background: rgba(37, 37, 37, 0.2);
}

.dropdown-content {
  position: absolute;
  background: linear-gradient(rgb(46, 114, 230), rgb(21, 68, 150));
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
  right: 0;
  color: white;
}


.content {
  grid-column-start: 3;
  grid-column-end: 11;
  grid-row-start: 3;
  grid-row-end: 16;
  margin-bottom: 2.2vw;
  margin-left: 2vw;
  overflow: auto;
}


::-webkit-scrollbar {
  width: 0.7vw;
}

::-webkit-scrollbar-track {
  border-radius: 0.2vw;
  box-shadow: 0 0 10px rgba(0, 0, 2, 0.5);
}
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.4);
}
input[type="text"] {
  background: rgba(0, 0, 0, 0.2);
  color: white;
  border: none;
  font-family: "Nunito", sans-serif;
  height: 50px;
}

input[type="text"]::placeholder {
  color: rgba(255, 255, 255, 0.4);
  font-family: "Nunito", sans-serif;
  padding: 15px;
}
#yt-player {
  display: none;
}

#removePlaylist {
  background-color: transparent;
  border: solid;
  border-width:thin;
  border-color: white; 
  color: white;
  margin-top: 1.5vw;
}


@media screen and (orientation: portrait) {
  .logo{
    padding: 1vw;
    margin-top: 2vh;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 4;
  }
  .user-container{
    padding: 1vw;
    margin-top: 2.7vh;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 8;
    grid-column-end: 11;
  }
  .form-container {
    grid-column-start: 4;
    grid-column-end: 8;
    margin-left: 10vw;
    margin-top: 4vh;
    display: flex;
    flex-direction: column;
  }
  .dropdown{
    margin-right: 2vw;
    
  }
  footer {
    height: 17.5vw;
  }
  input[type="text"]::placeholder {
    text-align: center;
  }
  #searchfield {
    margin-bottom: 0.7vh;
  }
  aside {
    overflow: auto;
  }
  aside {
    background: linear-gradient(rgb(46, 114, 230), rgb(21, 68, 150));
    grid-row-start: 3;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 11;
    height: 100%;
    border-bottom: 0.2vw solid white;
    color: white;
    display: flex;
    flex-direction: row;
  }
  .content {
    grid-column-start: 1;
    grid-column-end: 11;
    grid-row-start: 6;
    grid-row-end: 16;
    margin-bottom: 2.2vw;
    margin-left: 2vw;
    overflow: auto;
  }
  footer {
    border-top: 0.2vw solid white;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    background: linear-gradient(to right, rgb(21, 68, 150), rgb(46, 114, 230));
    height: 19vw;
  }
  

} 